body{
    background-color: grey;
}
.juli{
    background: fuchsia;
    border-radius: 50%;
    width: 30%;
    float: center;
    text-align: justify;
    margin-left: 35%;
    margin-bottom: 60px;
    padding-bottom: 10px;
    color: blue;
    margin-top: 70px;

}
#juli{
    padding-left: 25%;
    padding-top: 10px;

}
#tech{
    padding-left: 15%;
}
header nav ul{
    background-color: #777777;
    display: flex;
    border: 3px;
    width: 95%;
    padding-bottom: 3%;
    padding-top: 2%;
    border-radius: 4px;
    margin: 10px;
}
li{
    width: 20%;
    font-size: 25px;
    list-style: none;
}
a{
        text-decoration: none;
}
a:hover{
    background: rebeccapurple;
}
a:visited{
    background: aqua;
}
a:active{
    background: pi
    nk;
}
.first-section{
    border: 3px;
    background: white;
    border-radius: 4px;
    width: 40%;
    height: 15%;
    margin-bottom: 20%;
    padding-top: 3%;
    padding-bottom: 5%;
    font-size: 20px;
    line-height: 60px;
    margin: 10px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.second-section{
    border:3px;
    background: white;
    width: 40%;
    margin: 10px;
    border-radius: 4px;
    height: 10%;
    padding-bottom: 10%;
    line-height: 60px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 6%;
    padding-top: 3%
}
.first-aside{
    border-radius: 4px;
    background: white;
    width: 50%;
    float: right;
    margin-top: -80%;
    margin-bottom: 10px;
    padding-bottom: 60px;
    margin-right: 50px
;
}
.second-aside{
    border-radius: 4px;
    background: white;
    width: 50%;
    float: right;
    margin-top: -50%;
    padding-bottom: 60px;
    margin-right: 50px;
    
}
footer{
    background: fuchsia;
    color: blue;
    font-family: monospace;
    font-size: 100%;
    padding-bottom: 1%;
    padding-left: 340px;
    padding-top: 15px;
    width: 90%;
    margin-right: 300px;
}