
#main{
    width: 70%;
    height: 500px;
    margin: auto;
    margin-top: 60px;
    background: url(img/abstract-vector-mesh-background-chaotically-connected-points.jpg);
    background-size: cover;
}

.formside{
    width: 55%;
    float: left;
    color: greenyellow;
    padding-left: 10px;
}
.btn{
    -webkit-text-fill-color: deeppink;
    width: 100px;
    height:30px;
    background-color: darkturquoise
}

input{
    width: 400px;
    height: 20px;
    border: 1px solid deeppink;
}
textarea{
    width: 400px;
}


.textside{
    width: 25%;
    float: right;
    padding-left:  17px;
    color: greenyellow;
    text-align: justify;
    margin: 20px;
}



